/* css reset */
/*
  1. Use a more-intuitive box-sizing model.
*/
*,
*::before,
*::after {
    box-sizing: border-box;
}

/*
    2. Remove default margin
  */
* {
    margin: 0;
}

/*
    3. Allow percentage-based heights in the application
  */
html,
body {
    height: 100%;
    font-family: 'Roboto', sans-serif;
}

/*
    Typographic tweaks!
    4. Add accessible line-height
    5. Improve text rendering
  */
body {
    overflow-x: hidden;
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
    font-family: 'Roboto Condensed', sans-serif;
}

/*
    6. Improve media defaults
  */
img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}

/*
    7. Remove built-in form typography styles
  */
input,
button,
textarea,
select {
    font: inherit;
}

/*
    8. Avoid text overflows
  */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
    overflow-wrap: break-word;
}

/*
    9. Create a root stacking context
  */
#root,
#__next {
    isolation: isolate;
}


/* layout */
body {
    font-size: 12px;
}

.container {
    margin: 15px;
}

.garis {
    margin-top: 10px;
}

.teks-informasi {
    font-size: 0.7em;
    margin-bottom: 15px;
}

.pembungkus-judul-contact-information {
    display: flex;
    justify-content: space-between;
}

.pembungkus-kanan-tk-login {
    display: flex;
    justify-content: space-between;
    font-size: 9px;
}

.login {
    text-decoration: none;
    color: black;
    margin-left: 4px;
}

.box {
    width: 100%;
    margin-bottom: 10px;
    border: 0.8px solid black;
}

.pembungkus-email-me-with-news {
    display: flex;
    font-size: 9px;
    margin-bottom: 15px;
}

.pembungkus-name {
    display: flex;
    flex-wrap: wrap;
}

.pembungkus-save-information {
    display: flex;
    font-size: 0.9em;
}

.pembungkus-img-tk-harga {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.pembungkus-img-size {
    display: flex;
    font-size: 0.7em;
    align-items: center;
}

.img {
    width: 30px;
}

.pembungkus-gift {
    margin-top: 10px;
    display: flex;
    justify-content: center;
}

.btn-apply {
    margin-left: 10px;
    padding: 8px 20px;
    border-radius: 5px;
    border: 0px;
    color: white;
    background-color: rgb(176, 176, 176);
}

.gift {
    border: 1px solid black;
    border-radius: 5px;
    width: 50%;
}

.pembungkus-sb-sh {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
}

.pembungkus-total {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 20px;
}

.pembungkus-idr {
    display: flex;
    align-items: center;
}

.idr {
    margin-right: 7px;
}

.pembungkus-continue {
    justify-content: end;
    display: flex;
    margin-right: 10px;
}

.lk-continue-to-shiping {
    text-decoration: none;
    background-color: black;
    color: white;
    padding: 10px 25px;
    border-radius: 5px;
}

.pembungkus-lk-footer {
    display: flex;
    justify-content: space-evenly;
}

.lk-footer {
    text-decoration: none;
    color: black;
    margin-top: 10px;
    margin-bottom: 10px;
}

/* hover */
.lk-continue-to-shiping:hover {
    background-color: rgba(0, 0, 0, 0.174);
}

.btn-apply:hover {
    background-color: black;
}

.lk-footer:hover {
    color: rgba(0, 0, 0, 0.145);
}

/* responsif */

/*  display tablet */
@media only screen and (min-width: 641px) {
    body {
        font-size: 18px;
    }

    .teks-informasi {
        font-size: 0.9em;
    }

    .teks-email-me-with-news {
        font-size: 14px;
    }
}

/* display pc */
@media only screen and (min-width: 1230px) {
    .container {
        display: flex;
        font-size: 23px;
        margin: 0px;
        padding: 0px;
    }

    .pembungkus-sebelah-kiri {
        width: 55%;
        margin: 60px;
    }

    .pembungkus {
        width: 45%;
        display: flex;
        flex-direction: column;
        padding: 70px;
        padding-top: 140px;
        background-color: rgb(242, 242, 242);
    }

    .garis {
        margin: 23px 0;
    }

    .teks-email-me-with-news {
        font-size: medium;
        margin-left: 15px;
    }

    .harga-total {
        font-size: 1.3em;
    }

    .gift {
        width: 300px;
    }

    .box {
        width: 50%;
    }

    .box-email {
        width: 100%;
    }

    .select-negara {
        width: 100%;
        border: 1px solid black;
        margin-bottom: 15px;
    }

    .nama-panjang {
        margin-left: 5px;
        width: auto;
    }

    .alamat-apartement {
        width: 100%;
    }

    .address {
        width: 100%;
    }

    .kota {
        width: 100%;
    }

    .province {
        width: 50%;
        margin-right: 5px;
        border: 1px solid black;
    }

    .postal {
        border: 1px solid black;
    }

    .lk-continue-to-shiping {
        width: 230px;
    }

    .pembungkus-kiri-footer {
        width: 56%;
        margin-left: 70px;
    }

    .lk-continue-to-shiping {
        width: 190px;
    }

    .fooer {
        display: flex;
    }

    .pembungkus-kanan-footer {
        background-color: rgb(242, 242, 242);
        width: 44%;
    }
}